{% load staticfiles %}

<!-- <footer> -->
	<div id="footer">

          &nbsp&nbsp© 2016 Brocade Communications Systems Inc. All rights reserved.

		<h9 class="white" style="float:right">&nbsp&nbsp&nbsp</h9>
		<a href="http://www.brocade.com/en/legal.html" class="white" style="float:right">Legal</a>
		<h9 class="white" style="float:right">&nbsp&nbsp|&nbsp</h9>
		<a href="http://www.brocade.com/en/legal/privacy-policy.html" class="white" style="float:right">Privacy</a>

	</div>


<!-- <p id="copyright">Written by <a href="https://github.com/django-de/djangosnippets.org/graphs/contributors">various people</a>. Hosted by <a href="https://www.heroku.com" class="heroku">Heroku</a>, powered by <a href="http://www.djangoproject.com/">Django</a></p>
<p class="legal"><a href="/about/">About</a> | <a href="/about/faq/">FAQ</a> | <a href="/about/tos/">Terms of service</a> | <a href="/about/legal/">Legal notices</a></p> -->
<!-- </footer> -->