{% extends 'apps/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block title %}Brocade C2C{% endblock %}
{% block body_class %}bg-mix{% endblock %}
{% block content %}


      <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <div class="overlay"></div>

        <ol class="carousel-indicators">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">      
              <hgroup>
                  <h1>We are Brocade<img  src="{% static 'css/images/icon.png' %}"></h1>        
                  <h4>&nbsp We make stuff</h4>
              </hgroup>
              <a href="https://brocade.com" class="btn btn-hero btn-lg" role="button" id="brocade">Take a tour</a>
              </div>
            </div>
          <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">        
              <hgroup>
                  <h1>We are Ruckus<img  src="{% static 'css/images/ruckus_logo.jpg' %}"></h1>        
                  <h4>&nbsp Wireless with Teeth</h4>
              </hgroup>       
              <a href="https://www.ruckuswireless.com"  class="btn btn-hero btn-lg" role="button" id="ruckus">Check it Out!</a>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">        
              <hgroup>
                  <h1>We are <font color="#FF6600">Stack</font><font color="#606060">Storm</font></h1>
                  <!-- <h1>We are <img  style="vertical-align: baseline; max-width: 3.7%" src="{% static 'css/images/st2.png' %}"><font color="#FF6600">Stack</font><font color="#606060">Storm</font></h1> -->
                  <h4>&nbsp  Event-Driven Automation</h4>
              </hgroup>
              <a href="https://stackstorm.com" class="btn btn-hero btn-lg" role="button" id="stackstorm">Dive In</a>
            </div>
          </div>
        </div> 
      </div>
      <div class="container-fluid">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="{% static 'css/images/new_b.png' %}">
            <div class="card-block">
              <h4 class="card-title">SDN Controller</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             <a href="http://brocade.com" class="btn btn-primary">Go To Brocade</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{% static 'css/images/workflow1.png' %}">
            <div class="card-block">
              <h4 class="card-title">WorkFlow Engine</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             <a href="./mahb" class="btn btn-primary">MAHB WorkFlow</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{% static 'css/images/BFO.png' %}">
            <div class="card-block">
              <h4 class="card-title">VDX/VCPE</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             <a href="./icx" class="btn btn-primary">ICX</a>
            </div>
          </div>
        </div>
      </div>
      </div>
{% endblock %}
