{% extends 'apps/base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    MAHB
{% endblock %}
{% block body_class %}bg-green{% endblock %}
{% block content %}

    <form class="form-horizontal" role="form" action="{% url 'mreq' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form layout="horizontal" %}
        {% bootstrap_form form layout="horizontal" type="non_fields" %}
<input type="submit" value="OK">
        {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>
<!-- <form action="{% url 'mreq' %}/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> -->
{% endblock %}
