{% extends 'html/login_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}
{% block body_class %}bg-login{% endblock %}
{% block content %}


        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h1 class="text-center login-title">Sign in to continue</h1>
                    <div class="account-wall">
                        <img class="profile-img" src="{% static 'css/images/login.png' %}"
                            alt="">
                            {% if form.errors %}
                                  <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            {{ form.non_field_errors }}
                        <form class="form-signin" role="form" action="{% url 'loginrequest' %}" method="POST">{% csrf_token %}
                        <input type="text" class="form-control" placeholder="Email" required autofocus>
                        <input type="password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                        </form>
                    </div>
                    <a href="#" class="text-center new-account">Create an account </a>
                </div>
            </div>
        </div>
{% endblock %}